{% extends 'base.html' %}
{% load webtags %}


{% block content %}


    <h1 class="text-2xl pt-10">Improvement Action Plan Entry</h1>
    <p class="text-sm">Enter your improvement action plan again each SLA rating.</p>


    <div class="flex text-sm font-medium text-gray-900 space-x-5 pt-4">
        <p>Selected Department:</p>
        <p>{{ department }}</p>
    </div>


    <form method="post">
        {% csrf_token %}

        <div class="relative overflow-x-auto mt-8">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        SLA:
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Rating:
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Reason for Rating:
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Improvement Action:
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Due Date:
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Manager Status:
                    </th>
                </tr>
                </thead>

                <tbody>

                {% if error %}
                    <tr class="bg-white border-b">
                        <th scope="row" colspan="6"
                            class="px-6 py-4 text-center font-medium text-red-900 whitespace-nowrap">
                            Failed to get SLA ratings for the given department.
                        </th>
                    </tr>
                {% elif page_obj.object_list %}

                    {{ formset.management_form }}
                    {% for rating, form in formset_and_ratings %}

                        <tr class="bg-white border-b">
                            <td scope="row"
                                class="px-6 py-4 whitespace-nowrap">
                                <span class="font-medium text-gray-900">SLA {{ forloop.counter }}:</span> {{ rating.sla.service_description }}
                            </td>
                            <td class="px-6 py-4">
                                {{ rating.rating }}
                            </td>
                            <td class="px-6 py-4">
                                {{ rating.reason }}
                            </td>
                            <td class="px-6 py-4">
                                {% if form.improvement_action.errors %}
                                    {{ form.improvement_action|add_classes:"textarea-error" }}
                                {% else %}
                                    {{ form.improvement_action|add_classes:"textarea-default" }}
                                {% endif %}
                            </td>
                            <td class="px-6 py-4">
                                <div>
                                    <div class="relative max-w-sm">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                                 xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                 viewBox="0 0 20 20">
                                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"></path>
                                            </svg>
                                        </div>
                                        <input datepicker id="{{ form.due_date.auto_id }}"
                                               name="{{ form.due_date.html_name }}" type="text"
                                               value="{{ form.due_date.value }}"
                                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                               placeholder="Select due date">
                                    </div>
                                    {% if form.due_date.errors %}
                                        <div class="flex items-center p-2 mt-2 text-sm text-red-800">
                                            {{ form.due_date.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>
                            </td>

                            <td class="px-6 py-4">
                                <label for="{{ form.status.id_for_label }}"
                                       class="hidden mb-2 text-sm font-medium text-gray-900">Select Status</label>
                                <select id="{{ form.status.auto_id }}" name="{{ form.status.html_name }}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                    <option value="0">Resolved</option>
                                    <option value="1">Met All</option>
                                    <option value="2">In Progress</option>
                                    <option value="3">Not Actioned</option>
                                </select>
                            </td>
                        </tr>


                    {% endfor %}


                {% else %}
                    <tr class="bg-white border-b">
                        <th scope="row" colspan="3"
                            class="px-6 py-4 text-center font-medium text-red-900 whitespace-nowrap">
                            No Data Found.
                        </th>
                    </tr>
                {% endif %}


                </tbody>


            </table>
        </div>

        {% if page_obj.object_list %}
            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 my-8 focus:outline-none">
                Save Action Plans
            </button>
        {% endif %}

    </form>




{% endblock %}




