{% extends 'base.html' %}
{% load webtags %}


{% block content %}

    <form action="" method="post">
        {% csrf_token %}

        <h1 class="text-2xl pt-10">SLA Entry</h1>

        <!-- department select -->
        <div class="flex justify-between align-bottom pt-8">

            <div>
                <label for="department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Select department
                </label>
                <select id="department" name="department"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="" selected>-------</option>
                    {% for department in departments %}
                        <option value="{{ department.0 }}"
                                {% if form.department.value %}selected{% endif %}>{{ department.1 }}</option>
                    {% endfor %}
                </select>
                {% if form.department.errors %}
                    <div class="flex items-center p-2 mt-2 text-sm text-red-800">
                        {{ form.department.errors.0 }}
                    </div>
                {% endif %}
            </div>


            <div>
                <div class="relative max-w-sm">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </div>
                    <input datepicker id="date" name="date" type="text" value="{{ form.date.value }}"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="Select date">
                </div>
                {% if form.date.errors %}
                    <div class="flex items-center p-2 mt-2 text-sm text-red-800">
                        {{ form.date.errors.0 }}
                    </div>
                {% endif %}
            </div>

        </div>


        <div class="relative overflow-x-auto mt-8">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        #
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Service Description:
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Customer Responsibility:
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Service Level:
                    </th>
                </tr>
                </thead>

                <tbody>

                {{ formset.management_form }}
                {% for form in formset.forms %}
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            SLA {{ forloop.counter }}
                        </th>
                        <td class="px-6 py-4">
                            {% if form.service_description.errors %}
                                {{ form.service_description|add_classes:"textarea-error" }}
                            {% else %}
                                {{ form.service_description|add_classes:"textarea-default" }}
                            {% endif %}
                        </td>
                        <td class="px-6 py-4">
                            {% if form.customer_responsibility.errors %}
                                {{ form.customer_responsibility|add_classes:"textarea-error" }}
                            {% else %}
                                {{ form.customer_responsibility|add_classes:"textarea-default" }}
                            {% endif %}
                        </td>
                        <td class="px-6 py-4">
                            {% if form.service_level.errors %}
                                {{ form.service_level|add_classes:"textarea-error" }}
                            {% else %}
                                {{ form.service_level|add_classes:"textarea-default" }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>


            </table>
        </div>

        <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 my-8 focus:outline-none">
            Save SLA Entry
        </button>


    </form>


    {#    <div class="wrapper">#}
    {#        <div class="side-panel">#}
    {#            <div class="menu-container">#}
    {#                <div class="menu-icon" onclick="toggleMenu()">#}
    {#                    ☰#}
    {#                    <span class="menu-text">Menu</span>#}
    {#                </div>#}
    {#                <ul id="menu" class="menu-list">#}
    {#                    <li><a href="SLAEntry.html">Home</a></li>#}
    {#                    <li><a href="SLARating.html">Rate SLAs</a></li>#}
    {#                    <li><a href="CustStats.html">Customer Status</a></li>#}
    {#                    <li><a href="ImprvActn.html">Manager Status</a></li>#}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="main-content-wrapper">#}
    {#            <header id="header">#}
    {#                <img src="images/download.jpg" alt="EWSC Logo" class="logo">#}
    {#                <h3>SLA App</h3>#}
    {#                <div class="username-box" id="usernameBox"></div>#}
    {##}
    {#            </header>#}
    {##}
    {##}
    {#            <div class="container">#}
    {#                <div class="main-content">#}
    {#                    <div class="content-wrapper">#}
    {#                        <h2>SLA Entry</h2>#}
    {##}
    {#                        <form id="slaForm">#}
    {#                            <label for="department">Select Department:</label>#}
    {##}
    {#                            <select id="department" name="department">#}
    {#                                <option value="1">Human Resources</option>#}
    {##}
    {#                                <option value="2">Finance</option>#}
    {##}
    {#                                <option value="3">Information Technology</option>#}
    {##}
    {#                                <option value="4">Marketing</option>#}
    {#                            </select>#}
    {##}
    {#                            <div>#}
    {#                                <button#}
    {#                                        type="button"#}
    {#                                        class="spacing"#}
    {#                                        onclick="document.getElementById('dateInput').focus();"#}
    {#                                >#}
    {#                                    QRT Date#}
    {#                                </button>#}
    {##}
    {#                                <input#}
    {#                                        type="date"#}
    {#                                        id="dateInput"#}
    {#                                        name="qrtDate"#}
    {#                                        class="dateInput"#}
    {#                                        placeholder="YYYY-MM-DD"#}
    {#                                />#}
    {#                            </div>#}
    {##}
    {#                            <div class="header-row">#}
    {#                                <div class="header-item">Service Description:</div>#}
    {##}
    {#                                <div class="header-item">Customer Responsibility:</div>#}
    {##}
    {#                                <div class="header-item">Service Level:</div>#}
    {#                            </div>#}
    {##}
    {#                            <!-- Repeat this block for SLA 1-5 -->#}
    {##}
    {#                            <div class="container">#}
    {#                                <label for="sla1">SLA 1:</label>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="sla1"#}
    {#                                        name="sla1"#}
    {#                                ></textarea>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="customer-res1"#}
    {#                                        name="customerRes1"#}
    {#                                ></textarea>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="service-level1"#}
    {#                                        name="serviceLevel1"#}
    {#                                ></textarea>#}
    {#                            </div>#}
    {##}
    {#                            <div class="container">#}
    {#                                <label for="sla2">SLA 2:</label>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="sla2"#}
    {#                                        name="sla1"#}
    {#                                ></textarea>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="customer-res2"#}
    {#                                        name="customerRes2"#}
    {#                                ></textarea>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="service-level2"#}
    {#                                        name="serviceLevel2"#}
    {#                                ></textarea>#}
    {#                            </div>#}
    {##}
    {#                            <div class="container">#}
    {#                                <label for="sla1">SLA 3:</label>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="sla3"#}
    {#                                        name="sla3"#}
    {#                                ></textarea>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="customer-res3"#}
    {#                                        name="customerRes3"#}
    {#                                ></textarea>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="service-level3"#}
    {#                                        name="serviceLevel3"#}
    {#                                ></textarea>#}
    {#                            </div>#}
    {##}
    {#                            <div class="container">#}
    {#                                <label for="sla4">SLA 4:</label>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="sla4"#}
    {#                                        name="sla4"#}
    {#                                ></textarea>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="customer-res4"#}
    {#                                        name="customerRes4"#}
    {#                                ></textarea>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="service-level4"#}
    {#                                        name="serviceLevel4"#}
    {#                                ></textarea>#}
    {#                            </div>#}
    {##}
    {#                            <div class="container">#}
    {#                                <label for="sla5">SLA 5:</label>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="sla5"#}
    {#                                        name="sla5"#}
    {#                                ></textarea>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="customer-res5"#}
    {#                                        name="customerRes5"#}
    {#                                ></textarea>#}
    {##}
    {#                                <textarea#}
    {#                                        class="textarea-field"#}
    {#                                        id="service-level5"#}
    {#                                        name="serviceLevel5"#}
    {#                                ></textarea>#}
    {#                            </div>#}
    {##}
    {#                            <!-- ... (repeat for SLA 2-5) ... -->#}
    {##}
    {#                            <div class="container">#}
    {#                                <button type="submit" class="page-option">Save</button>#}
    {##}
    {#                                <button#}
    {#                                        type="button"#}
    {#                                        class="page-option2"#}
    {#                                        onclick="clearForm()"#}
    {#                                >#}
    {#                                    Clear#}
    {#                                </button>#}
    {##}
    {#                                <button#}
    {#                                        type="button"#}
    {#                                        class="page-option3"#}
    {#                                        onclick="exitPage()"#}
    {#                                >#}
    {#                                    Exit#}
    {#                                </button>#}
    {#                            </div>#}
    {#                        </form>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <script src="JsConsole.js"></script>#}
    {##}
    {#    </div>#}

{% endblock %}

