{% load static %}

<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
                        type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                    </svg>
                </button>

                <a href="/" class="flex ms-2 md:me-24">
                    <img src="{% static "web/images/logo.jpg" %}" class="h-8 me-3" alt="FlowBite Logo"/>
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">EWSC SLA App</span>
                </a>

            </div>

            <div class="flex items-center">
                <div class="flex items-center ms-3">
                    <div>
                        <button type="button"
                                class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                                aria-expanded="false" data-dropdown-toggle="dropdown-user">
                            <span class="sr-only">Open user menu</span>
                            <img class="w-8 h-8 rounded-full"
                                 src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
                        </button>
                    </div>
                    <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                         id="dropdown-user">
                        <div class="px-4 py-3" role="none">
                            <p class="text-sm text-gray-900 dark:text-white" role="none">
                                Neil Sims
                            </p>
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                                neil.sims@flowbite.com
                            </p>
                        </div>
                        <ul class="py-1" role="none">
                            <li>
                                <a href="#"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                   role="menuitem">Dashboard</a>
                            </li>
                            <li>
                                <a href="#"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                   role="menuitem">Settings</a>
                            </li>
                            <li>
                                <a href="#"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                   role="menuitem">Earnings</a>
                            </li>
                            <li>
                                <a href="#"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                   role="menuitem">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>


<aside id="logo-sidebar"
       class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
       aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">

            <li>
                <a href="/"
                   class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group {% if request.path == '/' %}bg-gray-100{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900">
                        <rect width="7" height="18" x="3" y="3" rx="1"></rect>
                        <rect width="7" height="7" x="14" y="3" rx="1"></rect>
                        <rect width="7" height="7" x="14" y="14" rx="1"></rect>
                    </svg>
                    <span class="ms-3">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'web:sla-entry' %}"
                   class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group {% if request.path == '/sla-entry/' %}bg-gray-100{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900">
                        <path d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4"></path>
                        <path d="M2 6h4"></path>
                        <path d="M2 10h4"></path>
                        <path d="M2 14h4"></path>
                        <path d="M2 18h4"></path>
                        <path d="M21.378 5.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"></path>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">SLA Entry</span>
                </a>
            </li>
            <li>
                <a href="{% url 'web:rate-sla' %}"
                   class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group {% if request.path == '/rate-sla/' %}bg-gray-100{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 ">
                        <path d="m9 12 2 2 4-4"></path>
                        <path d="M5 7c0-1.1.9-2 2-2h10a2 2 0 0 1 2 2v12H5V7Z"></path>
                        <path d="M22 19H2"></path>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Rate SLAs</span>
                </a>
            </li>
            <li>
                <a href="{% url 'web:customer-status-select' %}"
                   class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group {% if request.path == '/customer-status-select-department/' %}bg-gray-100{% elif "/customer-status-entry/" in request.path %}bg-gray-100{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 ">
                        <path d="M12 17v4"></path>
                        <path d="m15.2 4.9-.9-.4"></path>
                        <path d="m15.2 7.1-.9.4"></path>
                        <path d="m16.9 3.2-.4-.9"></path>
                        <path d="m16.9 8.8-.4.9"></path>
                        <path d="m19.5 2.3-.4.9"></path>
                        <path d="m19.5 9.7-.4-.9"></path>
                        <path d="m21.7 4.5-.9.4"></path>
                        <path d="m21.7 7.5-.9-.4"></path>
                        <path d="M22 13v2a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7"></path>
                        <path d="M8 21h8"></path>
                        <circle cx="18" cy="6" r="3"></circle>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Customer Status</span>
                </a>
            </li>
            <li>
                <a href="{% url 'web:impro-select-dept' %}"
                   class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group {% if request.path == '/improvement-plan-select-department/' %}bg-gray-100{% elif "/improvement-plan-enter-action/" in request.path %}bg-gray-100{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 ">
                        <circle cx="18" cy="15" r="3"></circle>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M10 15H6a4 4 0 0 0-4 4v2"></path>
                        <path d="m21.7 16.4-.9-.3"></path>
                        <path d="m15.2 13.9-.9-.3"></path>
                        <path d="m16.6 18.7.3-.9"></path>
                        <path d="m19.1 12.2.3-.9"></path>
                        <path d="m19.6 18.7-.4-1"></path>
                        <path d="m16.8 12.3-.4-1"></path>
                        <path d="m14.3 16.6 1-.4"></path>
                        <path d="m20.7 13.8 1-.4"></path>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Manager Status</span>
                </a>
            </li>

            <li>
                <a href="{% url 'web:export-report' %}"
                   class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group {% if request.path == '/reports/' %}bg-gray-100{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 ">
                        <path d="M3 3v16a2 2 0 0 0 2 2h16"></path>
                        <path d="M7 11.207a.5.5 0 0 1 .146-.353l2-2a.5.5 0 0 1 .708 0l3.292 3.292a.5.5 0 0 0 .708 0l4.292-4.292a.5.5 0 0 1 .854.353V16a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1z"></path>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Generate Reports</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

